@page
@model BookLibrary.Pages.BooksRead.CreateModel

@{
    ViewData["Title"] = "Create";
}
<script src="~/js/jquery/dist/jquery.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.js"></script>
<link herf="~/bootstrap/dist/css/bootstrap.css" />
<script src="~/multiselect-dropdown.js"></script>
<h1>Create</h1>

<h4>BooksRead</h4>
<hr />
<div class="row">
    <form method="post">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BooksRead.BookId" class="control-label"></label>
                <select asp-for="SelectedBooks" class="form-control" asp-items="@Model.Books" multiple multiselect-search="true"></select>
                <span asp-validation-for="SelectedBooks" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BooksRead.ReaderId" class="control-label"></label>
                <select asp-for="SelectedReaders" class="form-control" asp-items="@Model.Readers" multiple multiselect-search="true"></select>
                <span asp-validation-for="SelectedReaders" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BooksRead.StartDate" class="control-label"></label>
                <input asp-for="BooksRead.StartDate" type="date" class="form-control" />
                <span asp-validation-for="BooksRead.StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="BooksRead.EndDate" class="control-label"></label>
                <input asp-for="BooksRead.EndDate" type="date" class="form-control" />
                <span asp-validation-for="BooksRead.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
