@page
@model BookLibrary.Pages.Author.CreateModel

@{
    ViewData["Title"] = "Create";
}
<script src="~/js/jquery/dist/jquery.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.js"></script>
<link herf="~/bootstrap/dist/css/bootstrap.css" />
<script src="~/multiselect-dropdown.js"></script>
<h1>Create</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <form method="post">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Author.AuthorId" />
            <div class="form-group">
                <label asp-for="Author.Name" class="control-label"></label>
                <input asp-for="Author.Name" class="form-control" />
                <span asp-validation-for="Author.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Locations" class="control-label"></label>
                <select asp-for="SelectedLocations" class="form-control" asp-items="@Model.Locations" multiple="multiple" multiselect-search="true"></select>
                <span asp-validation-for="SelectedLocations" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Author.DateBorn" class="control-label"></label>
                <input asp-for="Author.DateBorn" class="form-control" />
                <span asp-validation-for="Author.DateBorn" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Author.DateDied" class="control-label"></label>
                <input asp-for="Author.DateDied" class="form-control" />
                <span asp-validation-for="Author.DateDied" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
